# Build directories and intermediate files

build/
plugin/sample_project/.stingray-asset-server-directory
Debug/
Dev/
Release/
Shipping/
GeneratedFiles/
ipch/
SRV/
assets/
/*/*_intermediate_*/
/*/*/*_intermediate_*/
node_modules/

# Generated editor components

plugin/*.js
plugin/*.map

# File patterns

*.lastcodeanalysissucceeded
*.a
*.app
*.aps
*.diff
*.dll
*.dylib
*.exe
*.fxo
*.jobbin2
*.la
*.lib
*.lo
*.mk
*.ncb
*.o
*.obj
*.opensdf
*.opendb
*.out
*.patch
*.pdb
*.pri
*.pyc
*.sdf
*.sln.cache
*.slo
*.so
*.sublime-project
*.sublime-workspace
*.suo
*.tss
*.user
*.vc.db
*.VC.db
*.vcproj
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.xcworkspace
*.log
*.vtcache
*.tmp_proj
*.dmp
*.map
TestResult.xml

# Private files

*.orig
.project
.makeargs
make_args.txt

# OS X files

*.DS_Store
*~

# Visual Studio Code config
.vscodeignore
.vscode
.settings
jsconfig.json
.vs/

# Webstorm project folder
.idea/
